/* Carousel Container */
.carousel-container {
  position: relative;
  /* width: 100%; */
  /* max-width: 100%; */
  overflow: hidden;
  height: 250px;
  margin: 20px 15px;
}

/* Wrapper for Slides */
.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Individual Slide */
.carousel-slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

/* Advertising Content */
.advertising-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  /* padding: 20px; */
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  width: 100%;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 15px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e03e00;
}
